@import '../../Styles/variables';
@import '../../Styles/mixins';

.main-landing-image {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./../../Assets/LandingImage.jpg');
  filter: grayscale(0.4);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

  &__text-container {
    text-align: center;
    width: clamp(300px, 90%, 1080px);
    display: flex;
    align-items: center;
    flex-direction: column;
    &__upper,
    &__lower {
      &__char {
        display: inline-block;
        font-size: clamp(1.5rem, 2.5vw, 3.5rem);
        font-weight: 500;
        color: white;
        margin: 0 5px;
        transition: all 0.2s ease-in-out;
        transform-style: flat;
        -webkit-transition: all 0.2s ease-in-out;
        cursor: pointer;
      }
    }
    &__upper {
      &::after {
        content: '';
        display: block;
        width: 25%;
        height: 3px;
        background-color: $accent-color;
        margin: 10px auto;
      }
    }
  }
}

.char-hover {
  color: $accent-color;
}
