@import '../../Styles/variables';
@import '../../Styles/mixins';

.main-laurels{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  background-size: cover;
  background-color: $main-gray;

  padding: 40px 0;

  &__header {
    @include Title($accent-color);
    margin-top: 40px;
  }
  &__laurel-container {
    @include ContentWidth;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 45px 0 70px 0;

    &__laurel{
      width: 200px;
      margin: 45px 140px;
      filter: invert(1);
    }
  }
}

.smaller {
  transform: scale(0.8);
}