@import '../../Styles/variables';
@import '../../Styles/mixins';

.main-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  background-color: $main-gray;
  padding: 20px 0 50px 0;

  &__text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px 0;
    @include ContentWidth;

    &__header {
      @include Title($accent-color);
    }
  }
  &__contact-container {
    display: flex;
    @include ContentWidth;

    &__contact {
      flex: 1;

      &__upper-input {
        width: 100%;
        display: flex;
        flex-direction: column;

        &__name {
          display: flex;
          input {
            width: 100%;
            padding: 5px 10px;
            margin: 0 30px 0 0;
          }
        }
        &__email {
          margin-top: 20px;
          display: flex;
          input {
            width: 100%;
            padding: 8px 10px;
            margin: 0 30px 0 0;
          }
        }
      }
      &__textarea {
        width: 100%;
        height: 200px;
        padding: 5px 10px;
        margin: 20px 00px 0 0;
      }
      &__button-container {
        width: 100%;
        &__button {
          border: none;
          background-color: $accent-color;
          color: white;
          padding: 10px 20px;
          margin: 0;
          width: 100%;
          margin-top: 20px;
          cursor: pointer;
          transition: filter 0.3s ease-in-out;
          border-radius: 4px;
          font-size: 0.8rem;
          &:hover {
            filter: brightness(1.2);
          }
        }
      }
    }
    &__image-container {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      img {
        width: 200px;
        margin: 0 50px;
      }
    }
  }
}

.input-field {
  border: none;
  background-color: $light-gray;
  border-radius: 4px;
  outline: none;
  font-size: 1.2em;
  resize: none;
  border-bottom: 1px solid $accent-color;
  transition: border-bottom 0.1s ease-in-out;
  &:focus {
    border-bottom: 3px solid $accent-color;
  }
}
