@import '../../../Styles/variables';
@import '../../..//Styles/mixins';

.main-team-card {
  width: 30%;
  background-color: $main-gray;
  overflow: hidden;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__image {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    transition: filter 0.2s ease-in-out;
    z-index: 1;
    transform-style: flat;
    -webkit-transition: all 0.2s ease-in-out;

    &:hover {
      filter: grayscale(0%);
      -webkit-filter: grayscale(0%);
    }
  }
  &__text {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform-style: flat;
    min-width: 80%;

    z-index: 2;

    h3 {
      border-bottom: $accent-color 3px solid;
      font-size: 1.3rem;
      margin: 10px auto 5px auto;
      display: block;
      width: 80%;
      padding: 5px 0;
      color: black;
    }

    p {
      margin: 10px 0;
    }
    span {
      text-align: center;
      display: block;
      width: 90%;
      margin: 10px 5%;
    }
  }
  &__links {
    height: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: auto;

    a {
      height: 25px;
      align-items: center;
      margin: 5px 10px;
      img {
        height: 100%;
      }
    }
  }
}
