@import '../../Styles/variables';
@import '../../Styles/mixins';

.main-our-work {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__header {
    @include Title($accent-color);
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__carousel {
    width: clamp(300px, 50%, 700px);
  }
}

.carousel-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__text-container {
    margin-top: 40px;
    width: clamp(200px, 50%, 50%);
    text-align: center;
    border-top: $accent-color 1px solid;
    padding: 20px;
  }
}
