@import '../../Styles/variables';
@import '../../Styles/mixins';

.main-our-work {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 0 100px 0;

  &__header {
    @include Title($accent-color);
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__videos {
    @include ContentWidth;
    height: 300px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    &__iframe {
      width: 32%;
      height: 100%;
      border: none;
    }
  }
}
