@import '../../Styles/variables';
@import '../../Styles/mixins';


.infinite-slider{
    width: 100%;
    height: 180px;
    background-color: white;
    overflow-x: hidden;
    display: flex;

    

    &__container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        animation: scroll 25s linear infinite;
        height: 100%;
        min-width: 100%;
        &__image{
            height: 60%;
        }
    }

    

}


.invert{
    filter: invert(1);
  }
  
@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
