@import "../../Styles/variables";
@import "../../Styles/mixins";

.main-quote{
    width: 100%;
    height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("../../Assets/QuoteImage.jpg");
    
    background-size: cover;
    background-position: center;
    

    display: flex;
    align-items: center;
    justify-content: center;
    
    &__text-container{
        color: white;
        filter: brightness(100%);
        @include ContentWidth;

        &__quote{
            letter-spacing: 3px;
            font-size: larger;
            font-weight: 100;

        }
        &__quoteer{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-style: italic;
        }
    }

}